<div class="container-fluid" style="background: lightgray" >
  <header class="d-flex justify-content-between">
    <div class="d-flex">
      <img
        src="../../../assets/th-solid.svg"
        style="color: grey; width: 10%"
      />&nbsp;
      <img src="../../../assets/logo--Gaggle.svg" />
    </div>
    <div class="d=flex">
      <span class="icon_span"
        ><i class="fa-solid fa-triangle-exclamation" style="color: red"
          >&nbsp;</i
        >Save unsucessful.</span
      >
      |
      <span class="icon_span"
        ><i class="fas fa-circle-notch" style="color: blue">&nbsp;</i
        >Retrying</span
      >
    </div>
  </header>
  <body>
    <div
      class="d-flex  justify-content-between ribbon_i"
      style="background: lightgray"
    >
      <div class="d-flex">
        <div class="d-flex flex-column bd-highlight align-items-center">
          <div class="bd-highlight">
            <button class="btn bd-highlight">
              <!-- <i class="fas fa-search"></i> &nbsp;
              <i class="fa-sharp fa-solid fa-chevron-right"></i> -->
              <img class="icons_arrow" src="../../../assets/search-arrow.PNG" />
            </button>
          </div>
          <div class="bd-highlight">
            <span class="bd-highlight icon_span">Button 1</span>
          </div>
        </div>
        <div class="d-flex flex-column bd-highlight align-items-center">
          <div class="bd-highlight">
            <button class="btn bd-highlight">
              <!-- <i class="fal fa-cloud-download"></i> -->
              <!-- <i class="fa-sharp fa-solid fa-chevron-right"></i> -->
              <img class="icons_arrow" src="../../../assets/cloud-arrow.PNG" />
            </button>
          </div>
          <div class="bd-highlight">
            <span class="bd-highlight icon_span">Button 1</span>
          </div>
        </div>
        <div class="d-flex flex-column bd-highlight align-items-center">
          <div class="bd-highlight">
            <button class="btn bd-highlight">
              <!-- <i class="fas fa-search"></i> &nbsp;
              <i class="fa-sharp fa-solid fa-chevron-right"></i> -->
              <img class="icons_arrow" src="../../../assets/event-arrow.PNG" />
            </button>
          </div>
          <div class="bd-highlight">
            <span class="bd-highlight icon_span">Button 1</span>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div
          class="d-flex flex-column bd-highlight align-items-center"
          style="margin-top: auto"
        >
          <div class="bd-highlight">
            <input
              type="text"
              class=""
              placeholder="Find"
              style="padding: 0px !important"
            />
          </div>
          <div class="bd-highlight">
            <span class="bd-highlight icon_span">Filter by Keyword</span>
          </div>
        </div>
        <div class="d-flex flex-column bd-highlight align-items-center">
          <div class="bd-highlight">
            <button class="btn bd-highlight">
              <!-- <i class="fas fa-search"></i> &nbsp;
              <i class="fa-sharp fa-solid fa-chevron-right"></i> -->
              <img class="icons_arrow" src="../../../assets/export-arrow.PNG" />
            </button>
          </div>
          <div class="bd-highlight">
            <span class="bd-highlight icon_span">Button 1</span>
          </div>
        </div>
      </div>
    </div>

    <div class="dash_table">
      <table class="table">
        <thead style="background: lightgray">
          <tr>
            <th scope="col" style="width: 20%">
              <input type="checkbox" name="" id="" />&nbsp;&nbsp; Date
            </th>
            <th scope="col" style="width: 10%">Incident Type</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
      </table>
    </div>
  </body>
</div>
